{% extends "./base.html" %}

{%block reload%}
<script>
  setTimeout(function(){
    location.reload();
  }, 8000);
</script>
{% endblock %}

{% block centre %}
<div class="droite">
            <div class="container1">
                <div class="ajouter hover"><a href="{{ url_for('formulaireproduit') }}">ajouter</a></div>
                <div class="tab">
                    <div class="minitab">
                        <h3>Liste des Produits</h3>
                        <table border="2">
                          <tr>
                            <td class="id un">CodeProduit</td>
                            <td class="un">Nom</td>
                            <td class="un">Description</td>
                            <td class="un">StockActuel</td>
                            <td class="un">PrixUnitaire</td>
                            <td class="un">Action</td>
                          </tr>
                          
                          </tr>
                          {% for row in data %}
                          <tr>
                            <td> {{ row[0] }} </td>
                            <td> {{ row[1] }} </td>
                            <td> {{ row[2] }} </td>
                            <td> {{ row[3] }} </td>
                            <td> {{ row[4] }} </td>
                            <td>
                              <button class="modifier"><a href="{{ url_for('modifier') }}">Modifier</a></button>
                              <button class="Supprimer"><a href="{{ url_for('supprimer') }}">Supprimer</a></button>
                            </td>
                          </tr>
                          {% endfor %}
                            
                        </table>
                    </div>
                </div>
            </div>
</div>
{% endblock %}