{% extends "./base.html" %}

{% block reload %}
<script>
  setTimeout(function(){
    window.location.reload();
  }, 8000);
</script>
{% endblock %}

{% block centre %}

<div class="droite">
            <div class="container1">
                <!-- <div class="ajouter hover"><a href="{{ url_for('formulaireproduit') }}">ajouter</a></div> -->
                <div class="tab">
                    <div class="minitab">
                      {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                          {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                              {{ message }}
                            </div>
                          {% endfor %}
                      {% endif %}
                      {% endwith %}
                        <h3>Liste des Produits</h3>
                        <table border="1">
                            <thead>
                                <tr>
                                    <th class="id un">IdMagasin</th>
                                    <th class="un">CodeProduit</th>
                                    <th class="un">Quantite</th>
                                    <th class="un">QuantiteVente</th>
                                    <th class="un">QuantiteStock</th>
                                </tr>
                            </thead>
                            <tbody>
                                {# Itérer sur les données de la table StockVente #}
                                {% for ligne_stock_vente in stock_vente %}
                                    <tr>
                                        <td>{{ ligne_stock_vente[0] }}</td>
                                        <td>{{ ligne_stock_vente[1] }}</td>
                                        <td>{{ ligne_stock_vente[2] }}</td>
                                        <td>{{ ligne_stock_vente[3] }}</td>
                                        <td>{{ ligne_stock_vente[4] }}</td>
                                    </tr>
                                {% endfor %}    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
</div>
{% endblock %}